%h2 Getting started with Ext MVC
%p The easiest way to get started on an Ext MVC application is to use the base app.

%h4 Install

%p To install the base app, you can either:

%ul
  %li= link 'Download the zipped folder', 'http://github.com/extmvc/baseapp/zipball/master'
  %li
    Clone from
    = link 'github', 'http://github.com/extmvc/baseapp'
    %ol
      %li git clone git://github.com/extmvc/baseapp.git myAppFolder
      %li rm myAppFolder/.git

%h4 Run

%p
  Place your new directory somewhere your local apache server can run in, then navigate to 
  = link 'http://localhost/myAppFolder/index.html', 'http://localhost/myAppFolder/index.html'