%h2 Plugins

%p Ext MVC is designed to be extensible.  Plugins can be dropped into your vendor/plugins folder so you can .

%h3 Existing Plugins:

%ul
  %li= link 'Loading Message', 'http://github.com/extmvc/loadingmessage-plugin/tree'